html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.PageDoc,
.contents {
    flex: 1;
}

.PageDoc {
    /* Github like style */
    margin: 16px auto;
    width: 1012px;
    padding: 32px;
    border: 1px solid #e1e4e8;
    border-radius: 2px;
}
